/* ------------------------------------------------------------------- */
/* Base */
/* ------------------------------------------------------------------- */

:after,
:before {
  box-sizing: border-box;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

html {
  font-size: var(--size-font);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

textarea {
  resize: none;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

svg {
  max-width: 100%;
}

strong {
  font-weight: 600;
}

/* ------------------------------------------------------------------- */
/* Link & Buttons */
/* ------------------------------------------------------------------- */

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: underline;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--color-red);
}

button {
  background-color: unset;
  border: none;
  margin: unset;
  padding: unset;
  text-align: inherit;
}

/* States */

button:not(.is-disabled),
button:not(:disabled) {
  cursor: pointer;
}

button.is-disabled,
button:disabled {
  opacity: 0.1;
  pointer-events: none;
}

[data-disabled] {
  cursor: not-allowed;
}

[data-hover] {
  cursor: pointer;
}

/* Tab Index Outline */

:where([tabindex]),
a,
button,
input {
  outline-offset: 0.5em;
  transition: outline-offset var(--animation-default-fast);
}

[tabindex]:focus-visible,
a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline-color: var(--_color---brand--midnight-navy);
  outline-offset: 0.125em;
  outline-style: solid;
  outline-width: 0.125em;
}

/* ------------------------------------------------------------------- */
/* Text & Image Selection */
/* ------------------------------------------------------------------- */

::selection {
  background-color: var(--theme--selection-background);
  color: var(--theme--selection-text);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--theme--selection-background);
  color: var(--theme--selection-text);
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

.button,
button,
img::selection {
  background: transparent;
}

/* ------------------------------------------------------------------- */
/* Hide Scrollbar */
/* ------------------------------------------------------------------- */

* {
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
  overscroll-behavior: none;
  scroll-behavior: auto;
}

/* ------------------------------------------------------------------- */
/* Webflow Reset */
/* ------------------------------------------------------------------- */

.w-embed:after,
.w-embed:before,
.w-richtext:after,
.w-richtext:before {
  content: unset;
}

.w-richtext > :first-child {
  margin-top: 0;
}

.w-richtext > :last-child {
  margin-bottom: 0;
}

.w-richtext a {
  position: relative;
  z-index: 4;
}

.w-richtext figure.w-richtext-align-fullwidth {
  max-width: 100% !important;

  & > div {
    width: 100%;
  }
}

[data-visible=""] {
  display: none;
}

/* ------------------------------------------------------------------- */
/* Lenis */
/* ------------------------------------------------------------------- */

.lenis {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* ------------------------------------------------------------------- */
/* FOUC */
/* ------------------------------------------------------------------- */

.line-mask {
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
}

.line p {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  html:not(.wf-design-mode, .w-editor) [data-reveal-group],
  html:not(.wf-design-mode, .w-editor) [data-reveal-text] {
    opacity: 0;
  }
}

.text-line-mask {
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
}

/* ------------------------------------------------------------------- */
/* Grid Layout */
/* ------------------------------------------------------------------- */

html:not(.wf-design-mode, .wf-editor) .grid-layout-component {
  display: none;
  visibility: hidden;
}

/* ------------------------------------------------------------------- */
/* Utilities */
/* ------------------------------------------------------------------- */

.u-hide-if-empty-cms:not(:has(.w-dyn-item)),
.u-hide-if-empty:empty,
.u-hide-if-empty:has(> *):not(:has(> :not(.w-condition-invisible))) {
  display: none !important;
}

[class*="u-text-clamp"].w-richtext > *,
[class*="u-text-clamp"]:not(.w-richtext) {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

[class*="u-text-clamp"].w-richtext > :not(:first-child) {
  display: none;
}

.u-text-clamp-2.w-richtext > *,
.u-text-clamp-2:not(.w-richtext) {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.u-text-clamp-3.w-richtext > *,
.u-text-clamp-3:not(.w-richtext) {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.u-text-clamp-4.w-richtext > *,
.u-text-clamp-4:not(.w-richtext) {
  line-clamp: 4;
  -webkit-line-clamp: 4;
}

:is(.wf-design-mode, .w-editor) .u-designer-hide {
  display: none;
  visibility: hidden;
}

html:not(.wf-design-mode) {
  & .page-wrapper {
    opacity: 0;
  }
}
