/* ------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------- */

.button {
  transition: color var(--animation-ease);

  &:has(.w--current) .button-nav__bg {
    background-color: var(--theme--accent);
  }

  &:has(.w--current) {
    color: var(--theme--surface-text);
  }

  & .button__bg,
  & .button__magnetic {
    transition:
      inset var(--animation-shrink),
      background-color var(--animation-shrink),
      opacity var(--animation-ease);
  }

  & .button__gradient {
    transition:
      inset var(--animation-shrink),
      opacity var(--animation-ease),
      background-color var(--animation-ease);
  }

  & .button__icon {
    transition: transform var(--animation-shrink);
  }

  & .cursor__bg {
    opacity: 0.9;
  }
}

@media (hover: hover) and (pointer: fine) {
  .button {
    &:is(:hover, :focus-visible) {
      color: var(--_color---neutral--black);

      & .button__bg {
        background-color: var(--_color---neutral--light-gray-1);
        opacity: 0.5;
      }

      & .button__icon {
        transform: translate(0);
      }
    }
  }

  .button:not([data-wf--content---button--theme-variant="icon-only"]) {
    &:is(:hover, :focus-visible) {

      & .button__bg,
      & .button__gradient,
      & .button__magnetic {
        inset: 1px;
      }
    }
  }

  .button[data-wf--content---button--theme-variant="ghost-icon---full"] {
    &:is(:hover, :focus-visible) {
      & .button__bg {
        background-color: var(--_color---neutral--white);
        opacity: 0.5;
      }
    }
  }
}

/* ------------------------------------------------------------------- */
/* Social Links */
/* ------------------------------------------------------------------- */

.social-link {
  transition: transform var(--animation-shrink);
}

@media (hover: hover) and (pointer: fine) {
  .social-link:hover {
    transform: scale(0.95);
  }
}

/* ------------------------------------------------------------------- */
/* Social Links */
/* ------------------------------------------------------------------- */

.button-share {
  transition: transform var(--animation-shrink);
}

@media (hover: hover) and (pointer: fine) {
  .button-share:hover {
    transform: scale(0.95);
  }
}

/* ------------------------------------------------------------------- */
/* Button Nav */
/* ------------------------------------------------------------------- */

.button-nav {
  transition: color var(--animation-shrink);

  & .button-nav__bg {
    transition:
      inset var(--animation-shrink),
      background-color var(--animation-shrink),
      opacity var(--animation-ease);
  }

  & .button-nav__icon {
    transition:
      color var(--animation-shrink),
      transform var(--animation-shrink);
  }

  &:has(.w--current) .button-nav__bg {
    background-color: var(--theme--accent);
  }

  &:has(.w--current) {
    color: var(--theme--surface-text);
  }
}

@media (hover: hover) and (pointer: fine) {
  .button-nav {
    &:is(:hover, :focus-visible) {
      & .button-nav__bg {
        inset: 2px;
        opacity: 0.9;
      }
    }
  }
}

/* ------------------------------------------------------------------- */
/* Button Back */
/* ------------------------------------------------------------------- */

.button-back {
  & .button-back__icon {
    transition:
      color var(--animation-shrink),
      transform var(--animation-shrink);
  }

  & .button-back__bg {
    transition: background-color var(--animation-shrink);
  }
}

@media (hover: hover) and (pointer: fine) {
  .button-back:hover {
    & .button-back__icon {
      color: var(--_color---neutral--black);
      transform: scale(0.95);
    }

    & .button-back__bg {
      background-color: var(--_color---neutral--white);
    }
  }
}